{% extends "layout.html" %}

{%- block GlobalInfo %}{{ GlobalInfo }}{% endblock %}

{% block AppVersion %}{{ AppVersion }}{% endblock %}

{% block vulnerabilityTabTotalVuln %}{{ vulnerabilityTabTotalVuln }}{% endblock %}

{% block vulnerabilityTabTotalSecrets %}{{ vulnerabilityTabTotalSecrets }}{% endblock %}

{%- block vulnerabilityTabGroup -%}
    {%- for each_pkg in vulnerabilityTabGroup %}
											<div class="table-data flex-vuln flex-wrap">
												<input type="checkbox" class="expand" id="{{ each_pkg.get('PkgName') }}-expand8-tab2">
												<label for="{{ each_pkg.get('PkgName') }}-expand8-tab2" class="data-item flex1">
													<span class="chevron-right">&#9658;</span>
													<span class="chevron-down">&#9660;</span>
													{{ each_pkg.get('PkgName') }}
												</label>
												<span class="flex1 data-item">{{ each_pkg.get('PkgTarget') }}</span>
												<span class="flex1 data-item">{{ each_pkg.get('PkgClass') }}</span>
												<span class="flex1 data-item">{{ each_pkg.get('PkgType') }}</span>
												<span class="flex1 data-item">{{ each_pkg.get('InstalledVersion') }}</span>
		{%- for each_vuln in each_pkg.get('Vulnerabilities') %}
												<div class="more-info px10">
													<table>
														<caption></caption>
														<thead>
															<tr>
																<th scope="col">Name</th>
																<th scope="col">Title</th>
																<th scope="col">Severity</th>
																<th scope="col">Score</th>
																<th scope="col">Fix Version</th>
																<th scope="col">Published</th>
																<th scope="col">Last Modified</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td><a href="{{ each_vuln.get('PrimaryURL') }}" target="_blank">{{ each_vuln.get('VulnerabilityID') }}</a></td>
																<td><span>{{ each_vuln.get('Title') }}</span></td>
																{% if each_vuln.get('Severity').upper() == 'CRITICAL' -%}
																<td><span class="severity critical">critical</span></td>
																{% elif each_vuln.get('Severity').upper() == 'HIGH' -%}
																<td><span class="severity high">high</span></td>
																{% elif each_vuln.get('Severity').upper() == 'MEDIUM' -%}
																<td><span class="severity medium">medium</span></td>
																{% elif each_vuln.get('Severity').upper() == 'LOW' -%}
																<td><span class="severity low">low</span></td>
																{% endif -%}
																<td><span>{{ each_vuln.get('CVSSScore') }}</span></td>
																<td><span>{{ each_vuln.get('FixedVersion') }}</span></td>
																<td><span>{{ each_vuln.get('PublishedDate') }}</span></td>
																<td><span>{{ each_vuln.get('LastModifiedDate') }}</span></td>
															</tr>
														</tbody>
													</table>
												</div>
		{%- endfor %}
											</div>
	{%- endfor %}
{%- endblock %}

{%- block vulnerabilityTabNoGroup -%}
	{%- for each_cve in vulnerabilityTabNoGroup %}
												<tr>
													<td><a href="{{ each_cve.get('PrimaryURL') }}" target="_blank">{{ each_cve.get('VulnerabilityID') }}</a></td>
													<td><span>{{ each_cve.get('PkgName') }}</span></td>
													<td><span>{{ each_cve.get('Title') }}</span></td>
													{% if each_cve.get('Severity').upper() == 'CRITICAL' -%}
													<td><span class="severity critical">critical</span></td>
													{% elif each_cve.get('Severity').upper() == 'HIGH' -%}
													<td><span class="severity high">high</span></td>
													{% elif each_cve.get('Severity').upper() == 'MEDIUM' -%}
													<td><span class="severity medium">medium</span></td>
													{% elif each_cve.get('Severity').upper() == 'LOW' -%}
													<td><span class="severity low">low</span></td>
													{% endif -%}
													<td><span>{{ each_cve.get('Score') }}</span></td>
													<td><span>{{ each_cve.get('FixedVersion') }}</span></td>
												</tr>
	{%- endfor %}
{%- endblock -%}

{% block layerTabLayers %}
	{%- for each_layer in layerTabLayers %}
												<tr>
													<td><span>{{ each_layer }}</span></td>
												</tr>
	{%- endfor -%}
{% endblock %}

{%- block secretsTabSecrets %}
	{%- if secretsTabSecrets %}
									<div class="wrapper">
										<div class="headers flex-vuln mb10">
											<span class="flex1"><strong>Category</strong></span>
											<span class="flex1"><strong>Target</strong></span>
										</div>
		{%- for each_target in secretsTabSecrets %}
										<div class="table-data flex-vuln flex-wrap">
											<input type="checkbox" class="expand" id="{{ each_target.get('Category') }}-expand8-tab4">
											<label for="{{ each_target.get('Category') }}-expand8-tab4" class="data-item flex1">
												<span class="chevron-right">&#9658;</span>
												<span class="chevron-down">&#9660;</span>
												{{ each_target.get('Category') }}
											</label>
											<span class="flex1 data-item">{{ each_target.get('Target') }}</span>
			{%- for each_secrets in each_target.get('Secrets') %}
											<div class="more-info px10">
												<table>
													<caption></caption>
													<thead>
														<tr>
															<th scope="col">Title</th>
															<th scope="col">Rule</th>
															<th scope="col">Severity</th>
															<th scope="col">Finding</th>
															<th scope="col">Lines - Start / End</th>
														</tr>
													 </thead>
													<tbody>
														<tr>
															<td><span>{{ each_secrets.get('Title') }}</span></td>
															<td><span>{{ each_secrets.get('RuleID') }}</span></td>
															{% if each_secrets.get('Severity').upper() == 'CRITICAL' -%}
															<td><span class="severity critical">critical</span></td>
															{% elif each_secrets.get('Severity').upper() == 'HIGH' -%}
															<td><span class="severity high">high</span></td>
															{% elif each_secrets.get('Severity').upper() == 'MEDIUM' -%}
															<td><span class="severity medium">medium</span></td>
															{% elif each_secrets.get('Severity').upper() == 'LOW' -%}
															<td><span class="severity low">low</span></td>
															{% endif -%}
															{% if each_secrets.get('Match') | length() < 50 -%}
															<td><span>{{ each_secrets.get('Match') }}</span></td>
															{% else -%}
															<td><span>This Finding have more than 50 characters. Please check the Target File.</span></td>
															{% endif -%}
															<td><span>{{ each_secrets.get('StartLine') }} / {{ each_secrets.get('EndLine') }}</span></td>
														</tr>
													</tbody>
												</table>
											</div>
			{%- endfor %}
										</div>
		{%- endfor -%}
									</div>
	{% else %}
									<div class="assurance-checker black-clr">
										<div class="assurance-header">
											 <h3>No secret found.</h3>
										</div>
										<div></div>
									</div>
	{%- endif -%}
{% endblock %}
